h1 {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

p {
    line-height: 0.6em;
}

#col-text {
    text-align: center;
}

#footer-text {
    font-size: small;
    text-align: center;
}