/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.custom-alert {

    .alert-head {
        background-color: #455A64;
    }

    .alert-head h2 {
        color: #FFC107;
    }

    .alert-message {
        color: #FFFFFF;
        margin-top: 7%;
        max-height: 90%;
        padding: 5%;
        padding-bottom: 7%;
        white-space: pre-line;
    }

    .alert-button-group {
        background-color: #455A64;
    }

    .alert-button-group button {
        color: #FFC107;
        font-weight: bold;
    }

    .alert-wrapper {
        max-width: 90%;
    }

}